<p>Deck:<%= link_to @flashcard.deck.name, @flashcard.deck %></p>
<div class="card self-center w-1/3">
  <header class="card-header">
    <p class="card-header-title"><%= @flashcard.title %>
  </header>
  <div class="card-content">
    <div class="content">
      <%= @flashcard.body %>
    </div>
  </div>
<% if user_signed_in? %>
  <footer class="card-footer">
    <%= link_to "Edit", [:edit, @flashcard], class: "card-footer-item" %>
    <%= link_to "Delete", @flashcard, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "card-footer-item" %>

  </footer>
<% end %>
