<h1><%= @group.name %></h1>
<%= link_to "Groups", groups_path %>
<%= link_to "Edit", edit_group_path(@group)%>
<%= button_to "Delete", @group, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<br>
<h2>Decks</h2>
<% @group.decks.each do |deck| %>
    <div>
        <%= link_to deck.name, deck %>
    </div>
<% end %>
<br>