<div class="flex justify-center flex-col w-2/3 mt-2  ">
  <div class="w-full flex justify-between items-center">
    <div class="">
        <div class="">
          <p class="text-2xl"><%= @group.name %></p>
          <p class="">Placeholder for Group descriptions</p>
        </div>
    </div>
    <div>
      <%= link_to "Edit", edit_group_path(@group), class: "link"%>
      <%= button_to "Delete", @group, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "link" %>
    </div>
  </div>
  <div id="decks" class="w-4/5 self-center mt-4" >
    <div class="flex justify-between items-center">
      <div class="">
        <div class="">
          <p class="text-2xl">Decks</p>
          <p class="">Decks of <%= @group.name %></p>
        </div>
      </div>
      <div class="">
        <%= link_to "Create Deck", new_group_deck_path(@group), class: "link" %>
      </div>
    </div>
    <% @group.decks.each do |deck| %>
      <div class="w-full flex justify-between items-center">
        <div class="">
          <%= link_to deck.name, deck, class: "link" %>
        </div>
        <div class="">
          <%= link_to "delete", deck, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
